_tests
terraform/.terraform/
terraform/terraform.tfstate
terraform/*.txt
terraform/*.exe
terraform/*.hcl
terraform/*.info
terraform/*.backup
terraform/*.tfvars
terraform/*.ini
ansible/*.pem
ansible/monitoring-key
*.tfstate
*.zip
*.pem
