---
- name: Deploy application
  hosts: app
  become: yes
  roles:
    - app

- name: Install Grafana
  hosts: grafana
  become: yes
  roles:
    - grafana

- name: Install Prometheus
  hosts: prometheus
  become: yes
  roles:
    - prometheus
    
- name: Install Loki
  hosts: prometheus
  become: yes
  roles:
    - loki
