#!/bin/bash

PROJECT_DIR="$(cd "$(dirname "$0")" && pwd)"
CONTROL_NODE_IP=${ansible_pub_ip}
USER=${ansible_user}
CLIENT_KEY="${clientkey}.pem"
REMOTE_PATH="/home/$USER"

echo "Deleting old files..."
ssh -i "$PROJECT_DIR/ansible/$CLIENT_KEY" -o StrictHostKeyChecking=no \
    -o UserKnownHostsFile=/dev/null \
    "$USER@$CONTROL_NODE_IP" \
    "sudo rm -r $REMOTE_PATH/ansible"

echo "Creating run.sh script..."
ssh -i "$PROJECT_DIR/ansible/$CLIENT_KEY" \
    -o StrictHostKeyChecking=no \
    -o UserKnownHostsFile=/dev/null \
    "$USER@$CONTROL_NODE_IP" << 'EOF'
cat > run.sh << 'SCRIPT'
#!/bin/bash
set -e

cd ansible
chmod 400 monitoring-key.pem
ansible-playbook playbook.yml
SCRIPT
EOF

echo "Copying Ansible folder to EC2 control node..."
scp -i "$PROJECT_DIR/ansible/$CLIENT_KEY" -o StrictHostKeyChecking=no \
    -o UserKnownHostsFile=/dev/null \
    -r "$PROJECT_DIR/ansible" "$USER@$CONTROL_NODE_IP:$REMOTE_PATH"

echo "Running the script..."
ssh -i "$PROJECT_DIR/ansible/$CLIENT_KEY" \
    -o StrictHostKeyChecking=no \
    -o UserKnownHostsFile=/dev/null \
    "$USER@$CONTROL_NODE_IP" \
    "chmod +x $REMOTE_PATH/run.sh && cd $REMOTE_PATH && ./run.sh"
