all:
  vars:
    ansible_ssh_private_key_file: ${clientkey}.pem
    flask_port: 5000
    flask_private_ip: ${python_ip}
    loki_ip: ${loki_ip}
    prometheus_ip: ${prometheus_ip}    
  
  hosts:
    flask:
      ansible_host: ${python_ip}
      ansible_user: ${python_user}
      public_ip: ${python_ip_public}
    grafana:
      ansible_host: ${grafana_ip}
      ansible_user: ${grafana_user}
    prometheus:
      ansible_host: ${prometheus_ip}
      ansible_user: ${prometheus_user}
    loki:
      ansible_host: ${loki_ip}
      ansible_user: ${loki_user}          
            
      



